.toDo {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.toDo > h1 {
    text-align: center;
}

.taskInputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.taskInputContainer > .taskInput,
.taskInputContainer > .submitTaskBtn {
    font-size: 16px;
    padding: 0.7em;
    border-radius: 4px;
}
.taskInputContainer > .submitTaskBtn {
    border: none;
    background: #2585bd;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: 600;
}
.taskInputContainer > .taskInput {
    border: 1px solid #818181;
    width: 300px;
}
.tasksContainer {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-direction: column;
    margin: 24px auto;
}
.task {
    display: flex;
    justify-content: space-between;
    width: 650px;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.task > p {
    margin: 0;
    font-weight: 500;
}

.task > .taskShifters {
    display: flex;
    gap: 8px;
}
.task > .taskShifters > button {
    color: white;
    background: #2585bd;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    padding: 0.6em;
    width: 72px;
    cursor: pointer;
    transition: 0.25s;
}
.task > .taskShifters > button.deleteBtn {
    background: #bd2525;
}
.task > .taskShifters > button:hover {
    background: #1e6f9e;
}
.task > .taskShifters > button.deleteBtn:hover {
    background: #971d1d;
}

